body {
  background: rgba(0, 0, 0, 0.85);
  margin: 0;
}

.slider {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
  height: 80vh;
  margin: 0 auto;
  padding: 0;
}

.slider li {
  position: relative;
  background: none no-repeat center/cover;
  min-height: 100%;
  overflow: hidden;
  flex-grow: 1;
  transition: 0.75s cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 75px 0 75px 0;
}

.slider li:hover {
  flex-grow: 5;
}

.slider li:hover h1 {
  transform: rotateZ(0) translateY(0);
}

.slider li:hover p {
  transform: translateY(calc((100% + 2rem) * -1)) rotateZ(0);
}

.slider a {
  position: absolute;
  top: 10;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 40%;
}

.slider h1 {
  position: absolute;
  top: 50%;
  padding: 1rem;
  font-family: sans-serif;
  transform-origin: left top;
  transform: translateY(0) rotateZ(90deg);
  transition: 0.5s cubic-bezier(0.35, 0, 0, 1);
  width: 13em;
  color: rgb(255, 255, 255);
  background: rgba(11, 11, 11, 0.306); /* Transparent background */
  line-height: 1.5;
  height: 80px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.slider .one {
  background-image: url(./InternImages/DEV\ Adonis.png);
}

.slider .two {
  background-image: url(./InternImages/DEV\ Benedick.png);
}

.slider .three {
  background-image: url(./InternImages/DEV\ Miggui.png);
}

.slider .four {
  background-image: url(./InternImages/DEV\ Randy.png);
}

.slider .five {
  background-image: url(./InternImages/OPS\ Andrea.png);
}

.slider .six {
  background-image: url(./InternImages/OPS\ Angie.png);
}

.slider .seven {
  background-image: url(./InternImages/OPS\ Frenalyn.png);
}

.slider .eight {
  background-image: url(./InternImages/OPS\ Joan.png);
}

.slider .nine {
  background-image: url(./InternImages/OPS\ Novelyn.png);
}

.slider .ten {
  background-image: url(./InternImages/OPS\ Patricia.png);
}

.slider .eleven {
  background-image: url(./InternImages/OPS\ Frenan.png);
}

.slider .twelve {
  background-image: url(./InternImages/OPS\ Ryan.png);
}

.slider .thirteen {
  background-image: url(./InternImages/DEV\ Joemar.png);
}

.slider .fourteen {
  background-image: url(./InternImages/TECH\ Isah.png);
}
