/* PurposeComponent.css */

.notepad {
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 100px auto;
}

.notepad-header {
  width: 100%;
  align-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 800;
  height: 50px;
  background-color: #ff7704;
  border-bottom: 5px solid #d8d8d8;
  border-radius: 20px 20px 0 0;
}

.notepad-body {
  padding: 20px;
}

.notepad-textarea {
  width: 100%;
  height: 450px;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  font-size: 16px;
  line-height: 2;
  color: #333;
  padding: 0;
  box-sizing: content-box;
  text-align: justify;
  font-family: "Times New Roman", Times, serif;
}

@media (max-width: 600px) {
  .notepad {
    width: 90%;
    max-width: none;
  }

  .notepad-header {
    height: 40px;
  }

  .notepad-body {
    padding: 15px;
  }

  .notepad-textarea {
    height: 250px;
  }
}
