.faq-page {
  font-family: "Poppins", sans-serif;
  background-color: #ff7704;
  color: white;
  padding: 10px;
}

.faq-title {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
}

.faq-popular-questions {
  margin-bottom: 10px;
  padding: 10px;
}

.collapsible {
  background-color: #f6eaea;
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin-bottom: 3px;
}

.content {
  padding: 0 10px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  color: black;
}

.answer {
  list-style-type: none;
  padding: 0;
}

.faq-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.category {
  background-color: #3a8b74;
  color: rgb(0, 0, 0);
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  flex: 1;
}

.contact-us {
  margin-top: 20px;
  padding: 10px;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form div {
  margin-bottom: 10px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 3px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.contact-form button {
  padding: 8px 12px;
  background-color: #f08080;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #e07070;
}
